<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUKTIVITY AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='img/produktivity_ai_logo.png') }}" alt="PRODUKTIVITY AI Logo" class="logo">
        </header>
        <main>
            <p class="intro">Obtén respuestas rápidas y precisas de reseñas validadas para tomar decisiones informadas al instante. Simplifica la búsqueda y accede a insights estratégicos que aumentan tu productividad con una sola pregunta. ¡Transforma tu trabajo con PRODUKTIVITY AI!</p>
            <div id="chat-box" class="chat-box"></div>
            <form id="chat-form" class="chat-form">
                <input type="text" id="message" placeholder="Escribe tu mensaje aquí..." class="chat-input">
                <button type="submit" class="chat-submit">Enviar</button>
            </form>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>